<div
  class="mx-4 flex h-[50vh] flex-col items-center justify-start text-center lg:w-1/2"
>
  <div class="text-4xl font-semibold">
    Get into <span class="decoration-primary underline decoration-wavy"
      >flow state</span
    > with us.
  </div>
  <div class="mb-10 mt-5 flex flex-col gap-10">
    Our community has already achieved ...
    <div class="flex items-center gap-10 sm:gap-20">
      <div>
        <div class="text-4xl font-bold">42000+</div>
        <div>hours of focus</div>
      </div>
      <div class="border-r border-[#FFFFFF40] py-14"></div>
      <div>
        <div class="text-4xl font-bold">10000+</div>
        <div>completed tasks</div>
      </div>
    </div>
  </div>
  <a
    href="https://app.flowmodor.com"
    class="bg-primary text-background cursor-pointer rounded-full px-5 py-3 transition-all duration-300 hover:brightness-105"
  >
    Get started
  </a>
</div>
