---
import AppearScroll from '../AppearScroll';
---

<div
  id="features"
  class="relative gap-40 mb-60 sm:my-60 flex w-full flex-col items-center px-3 text-center lg:text-start lg:mt-[25rem] lg-xl:mt-[15rem]"
>
  <div
    class="mt-32 flex flex-col items-center justify-center gap-10 lg:flex-row"
  >
    <div class="flex max-w-[24rem] flex-col gap-5">
      <h2 class="text-3xl font-bold">Flowmodoro Timer</h2>
      <div>
        Work x minutes, take x/5 minutes break. Flowmodor
        <span class="underline decoration-primary decoration-wavy">
          calculates it for you
        </span>.
      </div>
    </div>
    <AppearScroll client:load>
      <img
        src="/timer-break.png"
        width="100%"
        class="rounded-xl shadow-xl max-w-[25rem]"
        alt="Timer feature of Flowmodor app"
      />
    </AppearScroll>
  </div>
  <div
    class="flex h-[60vh] flex-col items-center justify-center gap-10 lg:flex-row"
  >
    <AppearScroll client:load>
      <img
        draggable="false"
        src="/tasks.png"
        alt="Task list feature of Flowmodor app"
        width="100%"
        class="rounded-xl shadow-xl max-w-[25rem]"
      />
    </AppearScroll>
    <div class="order-first flex max-w-[24rem] flex-col gap-5 lg:order-last">
      <h2 class="text-3xl font-bold">Task List</h2>
      <div>
        Select a task when focused to stay
        <span class="underline decoration-primary decoration-wavy">
          monotasked</span
        >. Todoist integration is available.
      </div>
    </div>
  </div>
  <div
    class="flex flex-col items-center justify-center gap-10 lg:flex-row"
  >
    <div class="flex max-w-[24rem] flex-col gap-5">
      <h2 class="text-3xl font-bold">Stats</h2>
      <div>
        Provide daily / weekly / yearly stats for enhanced <span
          class="underline decoration-primary decoration-wavy"
          >productivity insights</span
        >.
      </div>
    </div>
    <AppearScroll client:load>
      <img
        draggable="false"
        src="/stats.png"
        alt="Statistics feature of Flowmodor app"
        width="100%"
        class="ml-2 max-w-xl"
      />
    </AppearScroll>
  </div>
</div>
