---
import { supabase } from '../../lib/supabase';

let { data: totalFocusHours } = await supabase.rpc('get_total_focus_hours');
totalFocusHours = Math.round(totalFocusHours);

const { data: totalTasksCompleted } = await supabase.rpc(
  'get_completed_tasks_count',
);
---

<div
  class="mx-4 flex h-screen flex-col items-center justify-center text-center lg:w-1/2"
>
  <div class="text-4xl font-semibold">
    Get into <span class="underline decoration-primary decoration-wavy"
      >flow state</span
    > with us.
  </div>
  <div class="mb-10 mt-5 flex flex-col gap-10">
    Our community has already achieved ...
    <div class="flex items-center gap-10 sm:gap-20">
      <div>
        <div class="text-4xl font-bold">{totalFocusHours}</div>
        <div>hours of focus</div>
      </div>
      <div class="border-r border-[#FFFFFF40] py-14"></div>
      <div>
        <div class="text-4xl font-bold">{totalTasksCompleted}</div>
        <div>completed tasks</div>
      </div>
    </div>
  </div>
  <a
    href="https://app.flowmodor.com/signin"
    class="plausible-event-name=Get+Started cursor-pointer rounded-md bg-primary p-3 font-semibold text-background transition-all duration-300 hover:brightness-105"
  >
    Get started
  </a>
</div>
