---
import AppearScroll from '../AppearScroll';
---

<script
  defer
  src="https://cdn.jsdelivr.net/npm/img-comparison-slider@8/dist/index.js"
></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/img-comparison-slider@8/dist/styles.css"
/>
<style>
  img-comparison-slider {
    --divider-color: #131221;
    --handle-position-start: 52%;
  }
</style>

<div
  id="features"
  class="flex w-full flex-col items-center px-3 text-center lg:text-start"
>
  <div
    class="mt-20 flex h-screen flex-col items-center justify-center gap-10 lg:flex-row"
  >
    <AppearScroll client:load>
      <img-comparison-slider class="cursor-grab outline-none">
        <img
          slot="first"
          src="/timer-focus.png"
          width="100%"
          class="ml-2 max-w-[25rem]"
          alt="Timer feature of Flowmodor app"
        />
        <img
          slot="second"
          src="/timer-break.png"
          width="100%"
          class="ml-2 max-w-[25rem]"
          alt="Timer feature of Flowmodor app"
        />
        <div slot="handle" class="h-8 w-8 animate-pulse rounded-full bg-white">
        </div>
      </img-comparison-slider>
    </AppearScroll>
    <div class="order-first flex max-w-[24rem] flex-col gap-5 lg:order-last">
      <h2 class="text-3xl font-bold">Flowmodoro Timer</h2>
      <div>
        Counting up during focus and counting down during breaks, <span
          class="underline decoration-primary decoration-wavy"
          >based on your focus duration</span
        >.
      </div>
    </div>
  </div>
  <div
    class="flex h-screen flex-col items-center justify-center gap-10 lg:flex-row"
  >
    <div class="flex max-w-[24rem] flex-col gap-5">
      <h2 class="text-3xl font-bold">Task List</h2>
      <div>
        Select a task when starting a focus session to stay <span
          class="underline decoration-primary decoration-wavy">monotasked</span
        >. Todoist integration available.
      </div>
    </div>
    <AppearScroll client:load>
      <img
        draggable="false"
        src="/tasks.png"
        alt="Taks list feature of Flowmodor app"
        width="100%"
        class="ml-2 max-w-[25rem]"
      />
    </AppearScroll>
  </div>
  <div
    class="flex h-screen flex-col items-center justify-center gap-10 lg:flex-row"
  >
    <AppearScroll client:load>
      <img
        draggable="false"
        src="/stats.png"
        alt="Statistics feature of Flowmodor app"
        width="100%"
        class="ml-2 max-w-xl"
      />
    </AppearScroll>
    <div class="order-first flex max-w-[24rem] flex-col gap-5 lg:order-last">
      <h2 class="text-3xl font-bold">Stats</h2>
      <div>
        Tracks and summarizes work and break patterns for enhanced <span
          class="underline decoration-primary decoration-wavy"
          >productivity insights</span
        >.
      </div>
    </div>
  </div>
</div>
