---
import { Down } from '../Icons';
---

<div
  class="flex h-screen w-full flex-col items-center justify-center gap-10 bg-primary lg:flex-row lg:gap-2"
>
  <div class="flex flex-col items-center gap-10 text-secondary lg:items-start">
    <div class="text-center text-6xl font-bold lg:text-start">
      <div>Flow and Focus</div>
      <div>Beyond Pomodoro</div>
    </div>
    <div class="w-4/5 max-w-xl text-center lg:text-start">
      Flowmodor is an open-source Flowtime Technique timer web app helping you
      get into flow state and stay focused.
    </div>
    <div class="flex gap-5">
      <a
        href="https://app.flowmodor.com/signin"
        class="cursor-pointer rounded-md bg-secondary p-3 font-semibold text-white transition-all duration-300 hover:brightness-125"
      >
        Get started
      </a>
      <a
        href="https://github.com/flowmodor/flowmodor"
        class="flex cursor-pointer items-center gap-x-2 rounded-md border-2 border-secondary p-3 font-semibold text-secondary"
      >
        Star GitHub
      </a>
    </div>
  </div>
  <div class="relative">
    <img
      src="/timer-hero.png"
      alt="Timer of Flowmodor"
      draggable="false"
      width={320}
      height={320}
      class="z-10 hidden flex-shrink-0 rounded-xl bg-secondary shadow-custom transition-all duration-300 hover:-translate-y-2 lg:block xl:absolute xl:left-24 xl:top-24"
    />
    <img
      src="/tasks-hero.png"
      alt="Taks list of Flowmodor"
      draggable="false"
      width={320}
      height={320}
      class="z-0 hidden flex-shrink-0 rounded-xl bg-secondary shadow-custom transition-all duration-300 hover:-translate-y-2 xl:block"
    />
  </div>
  <a
    href="#features"
    class="absolute bottom-5 hidden animate-bounce cursor-pointer rounded-full fill-secondary sm:block"
    aria-label="Scroll down to features section"
  >
    <Down />
  </a>
</div>
