---
import NavbarLayout from '../../layouts/NavbarLayout.astro';

const blogs = await Astro.glob('./*.md');
blogs.sort((a, b) => {
  const aDate = new Date(a.frontmatter.date).getTime();
  const bDate = new Date(b.frontmatter.date).getTime();
  return bDate - aDate;
});
---

<NavbarLayout title="Blog | Flowmodor" description="Flowmodor's blog">
  <div class="mb-20 mt-32 flex flex-col gap-12 px-5">
    {
      blogs.map((blog) => (
        <a
          href={blog.url}
          class="flex max-w-xl flex-col items-start gap-3 rounded-lg border border-secondary"
        >
          {blog.frontmatter.image ? (
            <img
              src={blog.frontmatter.image}
              class="h-48 w-full rounded-lg object-cover"
            />
          ) : null}
          <div class={`p-5 ${blog.frontmatter.image ? 'pt-0' : ''}`}>
            <div class="text-2xl font-extrabold">{blog.frontmatter.title}</div>
            <div class="brightness-75">{blog.frontmatter.brief}</div>
          </div>
        </a>
      ))
    }
  </div>
</NavbarLayout>
