---
import { X, GitHub } from '../Icons';
---

<div
  class="w-full border-[#ffffff20] border-t flex flex-col lg:flex-row gap-10 justify-between items-center py-20"
>
  <div class="flex flex-col items-center lg:items-start lg:ml-32">
    <div class="flex items-center text-xl font-bold gap-2">
      <img
        src="/logo.png"
        alt="Logo of Flowmodor"
        width={48}
        height={48}
        draggable={false}
      />Flowmodor
    </div>
    <span class="text-[#ffffff70] text-xs">
      Copyright © {new Date().getFullYear()} Flowmodor
    </span>
    <div class="flex items-center justify-center gap-3 mt-5">
      <a
        href="https://twitter.com/flowmodor"
        class="cursor-pointer fill-[#ffffff70] hover:fill-[#ffffff] transition-all"
        aria-label="X"
      >
        <X />
      </a>
      <a
        href="https://github.com/flowmodor/flowmodor"
        class="cursor-pointer fill-[#ffffff70] hover:fill-[#ffffff] transition-all"
        aria-label="GitHub"
      >
        <GitHub />
      </a>
    </div>
  </div>
  <div class="grid grid-cols-2 gap-20 lg:mr-64 sm:grid-cols-3">
    <div class="flex flex-col gap-2">
      <div class="font-medium">ABOUT</div>
      <a
        href="/blog"
        class="text-sm text-[#ffffff70] hover:text-white transition-all">Blog</a
      >
    </div>
    <div class="flex flex-col gap-2">
      <div class="font-medium">PRODUCT</div>
      <a
        href="#features"
        class="text-sm text-[#ffffff70] hover:text-white transition-all"
        >Features</a
      >
      <a
        href="/pricing"
        class="text-sm text-[#ffffff70] hover:text-white transition-all"
        >Pricing</a
      >
    </div>
    <div class="flex flex-col gap-2">
      <div class="font-medium">COMPANY</div>
      <a
        href="/privacy"
        class="text-sm text-[#ffffff70] hover:text-white transition-all"
        >Privacy</a
      >
      <a
        href="https://github.com/flowmodor/flowmodor/blob/main/LICENSE"
        class="text-sm text-[#ffffff70] hover:text-white transition-all"
        >License</a
      >
    </div>
  </div>
</div>
