---
import { Down } from './Icons';
---

<div
  class="flex flex-col lg:flex-row w-full h-screen bg-[#DBBFFF]
  items-center justify-center gap-10 lg:gap-2"
>
  <div class="flex gap-10 flex-col items-center lg:items-start text-[#23223C]">
    <div class="text-center lg:text-start font-bold text-6xl">
      <div>Flow and Focus</div>
      <div>Beyond Pomodoro</div>
    </div>
    <div class="w-4/5 max-w-xl text-center lg:text-start">
      Flowmodor is an open-source flowmodoro timer web app based on the Flowtime
      Technique, an alternative to the Pomodoro Technique.
    </div>
    <div class="flex gap-5">
      <a
        href="https://app.flowmodor.com/signin"
        class="font-semibold cursor-pointer rounded-md p-3 text-white bg-[#23223C] hover:brightness-125 transition-all duration-300"
      >
        Get started
      </a>
      <a
        href="https://github.com/flowmodor/flowmodor"
        class="flex items-center gap-x-2 font-semibold cursor-pointer rounded-md p-3
        border-2 border-[#23223C] text-[#23223C]"
      >
        Star GitHub
      </a>
    </div>
  </div>
  <div class="relative">
    <img
      src="/tasks-hero.png"
      alt="Taks list of Flowmodor"
      draggable="false"
      width={320}
      height={320}
      class="hidden xl:block rounded-xl shadow-custom flex-shrink-0 hover:-translate-y-2 transition-all duration-300"
    />
    <img
      src="/timer-hero.png"
      alt="Taks list of Flowmodor"
      draggable="false"
      width={320}
      height={320}
      class="xl:absolute xl:top-24 xl:left-24 hidden shadow-custom lg:block rounded-xl flex-shrink-0 hover:-translate-y-2 transition-all duration-300"
    />
  </div>
  <a
    href="#features"
    class="hidden sm:block absolute cursor-pointer bottom-5 rounded-full animate-bounce"
    aria-label="Scroll down to features section"
  >
    <Down />
  </a>
</div>
