---
import { Down } from "./Icons";
---
<div
  class="flex flex-col xl:flex-row w-full h-screen bg-[#DBBFFF]
  items-center justify-center gap-10 xl:gap-0"
>
  <div class="flex gap-10 flex-col items-center xl:items-start text-[#23223C]">
    <div class="text-center xl:text-start font-bold text-6xl">
      <div>Flow and Focus</div>
      <div>Beyond Pomodoro</div>
    </div>
    <div class="w-4/5 max-w-xl text-center xl:text-start">
      Flowmodor is an open-source flowmodoro timer web app based on the
      Flowtime Technique, an alternative to the Pomodoro Technique.
    </div>
    <div class="flex gap-5">
      <a
        href="https://app.flowmodor.com/signin"
        class="font-semibold cursor-pointer rounded-md p-3 text-white bg-[#23223C] hover:brightness-125 transition-all duration-300"
      >
        Get started
      </a>
      <a
        href="#waitlist"
        class="flex items-center gap-x-2 font-semibold cursor-pointer rounded-md p-3
        border-2 border-[#23223C] text-[#23223C]"
      >
        Get access<svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="w-5 h-5"
        >
          <path
            fill-rule="evenodd"
            d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0 111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0 11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </a>
    </div>
  </div>
  <img
    src="/mock.png"
    alt="Mockup image on a phone and a laptop of Flowmodor app"
    class="hidden xl:block w-[40rem] rounded-xl flex-shrink-0"
  />
  <a
    href="#features"
    class="hidden sm:block absolute cursor-pointer bottom-5 rounded-full animate-bounce"
  >
    <Down />
  </a>
</div>
