---
import Navbar from '../components/Layout/Navbar.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const { title, description, image } = Astro.props;
---

<BaseLayout
  title={title}
  description={description}
  image={image}
>
  <Navbar />
  <main class="flex flex-col items-center">
    <slot />
  </main>
</BaseLayout>
