---
import BaseLayout from './BaseLayout.astro';

const { frontmatter } = Astro.props;
---

<BaseLayout
  title={`${frontmatter.title} | Flowmodor`}
  description={frontmatter.description}
>
  <article class="prose prose-invert py-36 px-3">
    <h1 class="text-3xl font-extrabold">{frontmatter.title}</h1>
    <div>Last updated: {frontmatter.date}</div>
    <slot />
  </article>
</BaseLayout>
