<a href="https://app.flowmo.io" {...Astro.props}>
  <slot />
</a>

<script is:inline>
  (function (link) {
    const ua = navigator.userAgent.toLowerCase();
    if (/ipad|iphone/.test(ua)) {
      link.href =
        'https://apps.apple.com/app/flowmodor-flowmodoro-timer/id6670529689';
    } else if (/android/.test(ua)) {
      link.href =
        'https://play.google.com/store/apps/details?id=com.m4xshen.mobile';
    }
  })(document.currentScript.previousElementSibling);
</script>
